.logo-container img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.menu-container a{
    text-decoration:none;
    color: black;
}

.tengah-container{
    padding-top: 20%;
    padding-bottom: 20%;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.pembatas-footer{
    border: 1px solid #000;
    margin: 20px;
}

.pembatas-header{
    border: 1px solid #000;
    margin: 20px;

}
.circle {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hq-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.akhir-container {
    flex-direction: column; 
    align-items: center;
    padding-bottom: 40px;
}

.akhir-container p {
    margin-top: 10px !important; 
}

html {
    scroll-behavior: smooth;
}